body {
    margin:0;
    font-family:'Roboto';
    
}
/* forms tralala */
input[type=text], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 20%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: gray;
}
.login{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/*home e tals*/
.home figure input[type=button] {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-content:center;
}

.home2 input[type=button] {
  width: 50%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 1px 1px 30px 198px;
  border:;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: gray;
}

.home{


}
.home2{
    flex-direction: column;
    align-content: center;
    display: flex;
    
}
figure {
  float: right;
  text-align: right;
  font-style: italic;
  font-size: 0.5em;
  text-indent: 0;
  border-radius: 14px;
  margin: 0.5em;
  padding: 0.5em;



}
.desc{
    font-size: 2em;
    text-align: center;
    margin-top: -80px;
    margin-left: 150px;
    padding-bottom: -20px;
    
}

figcaption{
    font-size: 2em;
    display: flex;
    text-align: center;
    padding: inherit;
    margin-left: 20%;
    float: right;
}
/*sing coisas*/
.sing input[type=fname]{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sing input[type=lname]{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
h1{
    text-align: center;
}
div{
    margin-top: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C4C4C4;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  
}

li {
  float: right;
}
li:first-child a {
  color: white;  
}
li a {
  display: block;
  color: black;
  font-size: bold; 
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  height: 123px;
  width: 90px;
  
  
}
li:last-child {
  color: black; 
  text-align: left;    
  margin-top: -20px;
  margin-right: 52.2em;
  font-family:'SirinStencil';
  pointer-events: none;
    
}


li a:hover:not(.active) {
  background-color: #111;
  color: white;
}

.active {
  background-color: black;
}

.contato{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: right;
  
}
.contato p{
    margin-right: 10%;

}
.contato input[type=name]{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contato input[type=number]{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contatoesq{
    height: 100%;
    float: left;
    margin-top: -32.38%;
    margin-left: 10%;
}
.contatoesq h3{
    margin-top: 10px;
    text-align: left;
}

.contatoesq h3 svg  {
    width: 90px;
    margin: 15px;
    
}
.contatoesq h3 svg { 
margin-bottom: -30px;
}
form p{
  margin-left: -15%;
  margin-top: 10px;
  float: right;
  margin-right: 20px;
  
}
form{
    margin-right: 10%;
}
.contato input[type=message]{
  padding: 12px 20px;
  width: 20%;
  height:200px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:start;
}
.grid-holder{
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }
        .card{
            position: relative;
            border-radius:0.5em;
            overflow: hidden;
            margin: 15px 50px;
            max-height:250px;
        }
        .card span{
            position: absolute;
            width:100%;
            top:0;
            text-align:center;
            padding:5px;
            background-color:rgba(0,0,0,.3);
            color: white;
            font-family:sans-serif;
        }
        .card img{
            max-width:100%;
            max-height:300%;
        }

.sobre{
    background-color: #ECE8E8;
    border-radius: 20px;
    width: 1000px;
    height: 500px;
    margin: 10% 20% 0% 20%;
    
}
.sobre .descr{
    display: block;
}
.sobre .descr p{
    margin-top: -150px;
    margin-left: 25%;
}
.sobre .descr img{
    margin: 50px 35px;
}
.icones{
    display: grid;
    padding: 0 20px;
    grid-template-columns: 20% 20% 20% 20%;
    text-align: center;
    justify-content: center;
}
.icones div img{
    display: block;
    width: 90%;
    border-radius: 0.5em;
    border: 1px solid #606060;
    margin: auto;
}